<div class="basic-container">
    <div class="basic-pic">
        <img src="assets/image/flame-1244.png" class="basic float-end" alt="...">
    </div>

    <div class="info-text">
      <p class="h1">BASIC ACCOUNT</p>
      <p class="h4">This type of account offer you a variaty of<br>
      features that are necessary and essential to have <br>your programs get started. This has limited access<br>
    to some of the features that are only available in the <br>premium version.</p>
    <button type="button" class="btn displaybtn prembtn btn-outline-success" routerLink="/offerings">Hide Info</button>
    </div>
</div>
