<div class="premium-container">
    <div class="basic-pic">
        <img src="assets/image/clip-programming.png" class="premium float-end" alt="...">
    </div>

    <div class="info-text">
      <p class="h1">PREMIUM ACCOUNT</p>
      <p class="h4">This type of account offer you a wider variaty of<br>
      features that will give you more power when <br>you get started with programming. This offers more<br>
    featured-modules that expands your ability to create a more<br>complex program.</p>
    <button type="button" class="btn displaybtn prembtn btn-outline-success" routerLink="/offerings">Hide Info</button>
    </div>
</div>
