<div class="home-container">     
    <div class="display-text">
      <p class="h1">Work Better,<br>Together.</p>
      <p class="h4">This is the place where you can collaborate<br>
      with programmers around the globe. Start<br>your project now with us.</p>
      <button type="button" class="btn displaybtn tribtn btn-outline-light">Get Basic Version</button>
      <button type="button" class="btn displaybtn prembtn btn-outline-success">Get Premium Version</button>
    </div>

    <div class="prog-pic">
        <img src="assets/image/progIcon.png" class="prog float-end" alt="...">
    </div>
</div>